<template>
  <transition appear name="fade" mode="out-in">
    <v-sheet :key="divText">
      <div :style="'background: '+divBackground+';'" class="comp-class">
        {{divText}}
        <p>
          <slot></slot>
        </p>
      </div>
    </v-sheet>
  </transition>
</template>

<script>
export default {
  props: ["divText", "divBackground"],
  data() {
    return {};
  }
};
</script>

<style scoped>
@media screen and (max-width: 600px) {
  .comp-class {
    padding: 0px 10px 10px 10px;
    margin-top: 2.5px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
@media screen and (min-width: 601px) {
  .comp-class {
    padding: 15px 0px 15px 25px;
    /* margin-top: 7.5px;
    margin-right: 4px;
    margin-left: 4px; */
  }
}
</style>