<template>
  <!-- Пустой шаблон для тестирования -->
  <v-app app dark>
<!--    <v-navigation-drawer app>-->
<!--    </v-navigation-drawer>-->
<!--    <v-main>-->
    <nuxt />
<!--    </v-main>-->
  </v-app>
</template>
