<template>
  <div v-if="$auth.loggedIn">
    <with-auth></with-auth>
  </div>
  <div v-else>
    <no-auth></no-auth>
  </div>
</template>

<script>
import noAuth from "../pages/noAuth";
import withAuth from "../pages/withAuth";

export default {
  components: { noAuth, withAuth },
  data() {
    return {};
  },
  methods: {},
  beforeDestroy() {},

  mounted() {}
};
</script>
<style >
</style>